.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    width: 372px;
    height: 767px;
    margin: 0 auto;
    border: 1px #dadada solid;
}